/* STYLES THAT APPLY ALL THE TIME */
.clear{
  clear: both;
}

h1{
  
}

h2, h3, h4, h5, h6{
  
  color: #555;
  margin: 0;
}

p, ul, ol, li, a, span, div{
  
}

body{
  background: url('../img/escheresque_ste.png');
  background-repeat: repeat;
  background-position: center;
}

#content{
  background-color: #FFF;

}

#header{
  background: url('../img/cream_pixels.png');
  background-repeat: repeat;
  background-position: center;
}

#header h1{
  text-align: center;
  font-size: 36px;
  height: 100px;
  line-height: 100px;
  
}

h2{
  font-size: 24px;
  color: #555;
}

#text{
}

#contact{

}

#footer{
  background: url('../img/cream_pixels.png');
  background-repeat: repeat;
  background-position: center;
}

#footer a{
  height: 100px;
  line-height: 100px;
  display: block;
  text-align: center;
  
}

#slideshow{
  margin-bottom: 30px;
}

#slideshow .orbit-timer{
  display: none;
}

#slideshow ul li{
  background-size:cover;
  background-position:center center;
  height:450px;
}

/* STYLES FOR DESKTOP SIZE ONLY */

@media only screen and (min-width: 64.063em) { 


  



}

/* STYLES FOR IPAD AND LARGER (MEDIUM UP) */

@media only screen and (min-width: 40.063em){

  #main_nav{
    
    height: 100px;
  }

  #main_nav .top-bar{
    
    height: 100px;
  }

  #main_nav .top-bar .top-bar-section{
    height: 100px;
  }

  #main_nav .top-bar .top-bar-section .right,
  #main_nav .top-bar .top-bar-section .left{
    height: 100px;
  }

  #main_nav .top-bar .top-bar-section .right > li,
  #main_nav .top-bar .top-bar-section .left > li{
    
    height: 100px;
  }

  #main_nav .top-bar .top-bar-section .right > li > a,
  #main_nav .top-bar .top-bar-section .left > li > a{
    
    height: 100px;
    line-height: 100px;
  }

   #main_nav .top-bar .title-area{
    
    height: 100px;
   }

   #main_nav .top-bar .title-area .name{
    
   }

    #main_nav .top-bar .title-area .name h1{
    
   }

   #main_nav .top-bar .title-area .name h1 a{
    height: 100px;
    padding-left:;
    background-image:;
    background-size: ;
    background-repeat: no-repeat;
    background-position: 10px center;
    line-height: 100px;
   }

   #main_nav .top-bar .top-bar-section .has-dropdown > a:after{
    top:50%;
   }
  
}

/* STYLES FOR IPAD AND MOBILE */

@media only screen and (min-width: 40.063em) and (max-width: 64em){ 

  #slideshow ul li{
    height:400px;
  }

}



/* STYLES FOR MOBILE SIZE ONLY */

@media only screen and (max-width: 40em) { 

  #slideshow ul li{
    height:275px;
  }

  #main_nav{
    
  }

  #main_nav .top-bar{
    
  }

  #main_nav .top-bar .top-bar-section{
    
  }

  #main_nav .top-bar .top-bar-section .right{
    
  }

  #main_nav .top-bar .top-bar-section .right > ul{
    
  }

  #main_nav .top-bar .top-bar-section .right > ul > li{
    
  }

  #main_nav .top-bar .top-bar-section .right > ul > li > a{
    

  }

  #main_nav .top-bar .top-bar-section .right > ul > li.has-dropdown > a{
    

  }

  #main_nav .top-bar .top-bar-section .right > li.active > a{
    background: orange;

  }
  

}