/* STYLES THAT APPLY ALL THE TIME */
.clear {
  clear: both;
}

h1 {
  font-family: "Delius Swash Caps", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Delius Swash Caps", sans-serif;
  color: #555;
  margin: 0;
}

p, ul, ol, li, a, span, div {
  font-family: "Quattrocento Sans", sans-serif;
}

body {
  background: url("../img/escheresque_ste.png");
  background-repeat: repeat;
  background-position: center;
}

#content {
  background-color: #FFF;
}

#header {
  background: url("../img/cream_pixels.png");
  background-repeat: repeat;
  background-position: center;
}
#header h1 {
  text-align: center;
  font-size: 36px;
  height: 100px;
  line-height: 100px;
  font-color: #00a2ad;
}

h2 {
  font-size: 24px;
  color: #555;
}

#footer {
  background: url("../img/cream_pixels.png");
  background-repeat: repeat;
  background-position: center;
}
#footer a {
  height: 100px;
  line-height: 100px;
  display: block;
  text-align: center;
  font-family: "Delius Swash Caps", sans-serif;
  font-color: #00a2ad;
}

#footer a {
  height: 100px;
  line-height: 100px;
  display: block;
  text-align: center;
  font-family: "Delius Swash Caps", sans-serif;
  font-color: #00a2ad;
}

#slideshow {
  margin-bottom: 30px;
}
#slideshow .orbit-timer {
  display: none;
}
#slideshow ul li {
  background-size: cover;
  background-position: center center;
  height: 450px;
}

/* STYLES FOR DESKTOP SIZE ONLY */
/* STYLES FOR IPAD AND LARGER (MEDIUM UP) */
@media only screen and (min-width: 40.063em) {
  #main_nav {
    height: 100px;
    background-color: #444444;
  }
  #main_nav .top-bar {
    background-color: #444444;
    height: 100px;
  }
  #main_nav .top-bar .top-bar-section {
    height: 100px;
  }
  #main_nav .top-bar .top-bar-section .left {
    height: 100px;
  }
  #main_nav .top-bar .top-bar-section .left > li {
    background-color: #444444;
    height: 100px;
  }
  #main_nav .top-bar .top-bar-section .left > li > a {
    background-color: #444444;
    height: 100px;
    line-height: 100px;
  }
  #main_nav .top-bar .top-bar-section .right {
    height: 100px;
  }
  #main_nav .top-bar .top-bar-section .right > li {
    background-color: #444444;
    height: 100px;
  }
  #main_nav .top-bar .top-bar-section .right > li > a {
    background-color: #444444;
    height: 100px;
    line-height: 100px;
  }
  #main_nav .top-bar .top-bar-section .has-dropdown > a:after {
    top: 50%;
  }
  #main_nav .top-bar .title-area {
    background-color: #444444;
    height: 100px;
  }
  #main_nav .top-bar .title-area .name h1 a {
    height: 100px;
    padding-left: 0;
    background-image: none;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 10px center;
    line-height: 100px;
  }
}
/* STYLES FOR IPAD AND MOBILE */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #slideshow ul li {
    height: 400px;
  }
}
/* STYLES FOR MOBILE SIZE ONLY */
@media only screen and (max-width: 40em) {
  #slideshow ul li {
    height: 275px;
  }

  #main_nav {
    background-color: #444444;
  }
  #main_nav .top-bar {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section .right {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section .right > ul {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section .right > ul > li {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section .right > ul > li > a {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section .right > ul > li .right > ul > li.has-dropdown > a {
    background-color: #444444;
  }
  #main_nav .top-bar .top-bar-section .right .right > li.active > a {
    background: orange;
  }
}
